<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IcingaBusylightAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IcingaBusylightAgent.Properties.Settings>
            <setting name="icinga_url" serializeAs="String">
                <value>https://myhost.localdomain.loc:5665/</value>
            </setting>
            <setting name="icinga_user" serializeAs="String">
                <value>simone</value>
            </setting>
            <setting name="icinga_pass" serializeAs="String">
                <value>giertz</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>IM2</value>
            </setting>
            <setting name="sound_volume" serializeAs="String">
                <value>Max</value>
            </setting>
            <setting name="color_up_ok" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="color_down_crit" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="color_unreach_warn" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="color_unknown" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="icinga_update_interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="icinga_check_hosts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="icinga_check_services" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sound_file" serializeAs="String">
                <value />
            </setting>
            <setting name="icinga_hostgroups" serializeAs="String">
                <value />
            </setting>
            <setting name="icinga_hosts" serializeAs="String">
                <value />
            </setting>
        </IcingaBusylightAgent.Properties.Settings>
    </userSettings>
</configuration>